.component-display {
  background-color: #858694;
  color: white;
  text-align: right;
  height: 100px;
  font-weight: 200;
  flex: 0 0 auto;
  width: 100%;
  -webkit-box-shadow: inset rgba(0, 0, 0, 1) 0 1px 4px, inset rgba(225, 225, 225, 0.3) 0 -2px 4px -2px;
  -moz-box-shadow: inset rgba(0, 0, 0, 1) 0 1px 4px, inset rgba(225, 225, 225, 0.3) 0 -2px 4px -2px;
  box-shadow: inset rgba(0, 0, 0, 1) 0 1px 4px, inset rgba(225, 225, 225, 0.3) 0 -2px 4px -2px;
  background-image: -moz-linear-gradient(top, #3e3e3e 0%, #303030 100%);
  background-image: -webkit-linear-gradient(top, #3e3e3e 0%, #303030 100%);
  background-image: linear-gradient(to bottom, #3e3e3e 0%, #303030 100%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.component-display > div {
  font-size: 3rem;
  line-height: 100px;
  color: #c0c0c0;
  padding: 0.2rem 1rem 0.1rem 0.5rem;
}
