

@import '../variables.css';

.root {
  background: #333;
  color: #fff;
  height: 10%;
  position: relative;
}

.container {
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  display: table;
}

.text {
  color: rgba(255, 255, 255, 0.5);
  display: table-cell;
  vertical-align: middle;
  margin-left: -10%;
}

.frame {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}

.logo {
  display: table-cell;
  vertical-align: middle;
  max-height: 25px;
  max-width: 160px;
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
