.hero-head {
  height: 20vh;
}


.hero-footer {
  height: 15vh;
}

.keypad {

  .keypad-display {
    color: white;
    border-radius: 10px;
    line-height: 60px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 4em;

    .auto-scaling-text {
      padding: 0 30px;
      right: 0;
    }
  }

  .is-4 {
    padding: 4 !important;
  }



  button:active {
    box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
  }

  .input-keys {
    width: 240px;
  }

  .function-keys {
    display: flex;
  }

  .digit-keys {
    background: #e0e0e7;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .keypad-keypad {
    height: 400px;

    display: flex;

    .keypad-key {
      width: 80px;
      height: 80px;
      border-top: 1px solid #777;
      border-right: 1px solid #666;
      text-align: center;
      line-height: 80px;
    }

    .digit-keys {
      .key-0 {
        width: 160px;
        text-align: left;
        padding-left: 32px;
      }

      .key-dot {
        padding-top: 1em;
        font-size: 0.75em;
      }
    }

    .operator-keys {
      .keypad-key {
        color: white;
        border-right: 0;
        font-size: 3em;
      }
    }
  }

  .function-keys {
    background: linear-gradient(to bottom, rgba(202, 202, 204, 1) 0%, rgba(196, 194, 204, 1) 100%);
  }

}